/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 13 */

/* I'm blank! Write some CSS to style your layout! */
@import url(http://fonts.googleapis.com/css?family=Economica|Russo+One|Vollkorn:700|Merriweather);
 @import url(http://fonts.googleapis.com/css?family=Marcellus+SC|Lilita+One|Asset|Rammetto+One|Yeseva+One|Rokkitt|Cinzel|Orbitron|Spinnaker|Maven+Pro|Bowlby+One+SC|Allerta);
 .head-pointer {
    text-align: center;
}
.head-pointer:after {
    visibility: hidden;
    display: block;
    content:" ";
    clear: both;
    height: 0;
}
.home-dot {
    font-size: 10em;
    color: black;
    text-shadow: 0 0 20px #780000;
}
.down-arrow {
    font-size: 10em;
}
h1 {
    font-family:'Marcellus SC', serif;
}
/*navigation*/
 nav {
    margin-right: auto;
    margin-left:auto;
    width: 30%;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
nav ul {
    list-style-type: none;
    padding: 0px;
}
nav li {
    margin: 1em;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family:'Economica', sans-serif;
    width: 100%;
}
nav li a:hover {
    color: black;
    background-color: #fff;
}

nav li .nav-emergency a:hover {
    color:red;
}
/*end navigation*/

/*begin goods section*/
 .container {
    margin-top: -7em;
    border-top-style: dashed;
    border-top-color: black;
}
.content-header {
    -webkit-transform: rotate(-90deg);
    font-size: 5em;
    margin-top:3.5em;
    margin-left:-1em;
    float: left;
}
.goods {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
}
.goods::after {
    background-image: url("skyFlowers.jpg");
    content:" ";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.services {
    width: 100%;
    height: 600px;
    display: block;
    float:left;
    background-color: grey;
}
.emergencies {
    width: 100%;
    height: 600px;
    display: block;
    float:left;
    margin-left:-4.5em;
}