/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 08 */

.container {
	width: 1024px;
	margin: 0 auto;
	padding: 0px;
}

.header {
	background-color:#f0a068;
}


.sidebar {
	float: left;
	width: 250px;
	background-color: #f5bc69;
  	height: 300px;
}

.main-content {
	float: left;
  	background-color: #8fabbf;
  	height:300px;
  	width: 450px; 
}

.sub-content {
	height: 300px;
}


.footer {
	background-color:#b7cc4b;
  	clear:both
}
